.title{
    font-family: Signika, Arial, sans-serif;
    text-align: center;
}
body{
    background: linear-gradient(to right, #4facfe, #00f2fe);
}
.login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 /* when user clicks input border color should change*/
#username, #password{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
#username:focus, #password:focus{
    border-color: #00f2fe;
    outline: none;
}
/* button styling position center */
#submit{
    width: 100%;
    padding: 10px;
    background-color: #4facfe;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* add box shadow and transition animation */
#submit:hover{
    background-color: #00f2fe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
a{
    color: black;
}
a:hover{
    color: #00f2fe;
}
@media (max-width: 400px){
    .login_form{
        width: 90%;
        padding: 10px;
    }
}
